<footer class="page-footer teal">
    <div class="container">
        <div class="row" id="contact-us">
            <div class="center">
                <div class="contactanos">
                    <h4 class="">Você tem interesse em publicar um artigo?</h4>
                    <p>Entre em contato!</p>
                    <ul>
                        <li>
                            <p><a href="mailto:contacto.lionwebdesign@gmail.com">contatolionwebdesign@gmail.com</a>
                                | <a href="https://wa.me/5541998324959?text=Ol%C3%A1!" target="_blanck"><i class="fa fa-whatsapp"></i> (41) 9 9832-4959</a></p>
                        </li>
                    </ul>
                </div>
                <div class="container center links-contacto">
                    <!-- <h4 class="">No te pierdas nuestras novedades</h4> -->
                    <p>Não perca as nossas novedades. Nos sigua!</p>
                    <ul>
                        <li><a id="profile-link" href="https://www.instagram.com/expresa.mb/" target="_blank" class=" contact-details"><i class="fa fa-instagram"></i> Instagram</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Powered by <a class="" href="#">Lionwebdesign</a>
        </div>
    </div>
</footer>