.navbar-fixed {
    position: absolute;
    height: 100px;
    z-index: 998;

    nav, .nav-inicial {
      background-color: $header;
      backdrop-filter: $desenfoque;
      box-shadow: none;
      height: 100px;
      position: fixed;
      top: 0;
      transition: top 0.5s ease;

      a.brand-logo {
        //width: auto;
        max-width: 308px;
        height: auto;

        img.img-logo {
          max-height: 100%; //60px;
        }
      }

      ul {
        li {
          a {
            color: $header-texto;
            font-variant: small-caps;
            font-size: 1.05rem;
            font-weight: bold;

            &:hover {
              color: $header-texto-hover;
              background-color: unset;
            }
          }
        }
      }

      .sidenav-trigger {
        color: $header-texto !important;
        float: right;
      }

      .sidenav {
        background-color: $glass !important;
        backdrop-filter: $desenfoque;
        height: calc(100% + 100vh);
        li {
            a {
                color: $color-destaque;
                &:hover {
                  color: $color-secundario;
                }
            }
        }
      }

      .dropdown-content {
        position: absolute;
        width: auto !important;
        height: auto !important;
        background-color: $header !important; 
        top: 64px !important;
        li {
          backdrop-filter: $desenfoque !important;
          a {
            color: $color-destaque;
            
            &:hover {
              color: $color-secundario;
            }
          }
        }

        @media screen and (max-width: 992px) {
          width: 300px !important;
        }
      }
    }
  }