{% extends "layout.html" %}
{% block content %}

<section class="row entrada-principal">
    <div class="container center">
        <h1 class="titulo">Expresa<span>MOTOR'S BLOG</span></h1>
        <h4 class="texto">Paixão pelos motores</h4>
    </div>
</section>

<section class="row publicidad">
    <div class="container"></div>
</section>

<main id="home">
    <section class="row nuevos-articulos">

        <div class="container center texto-nuevos-articulos">
            <h2 class="titulo">Novos artigos</h2>
        </div>

    </section>

    <section class="row articulos-destaque">

        <div class="texto-articulos-destaque container center">
            <h2 class="titulo">Articulos destacados</h2>
            <h4 class="texto">Etiam varius metus lacus, nec feugiat turpis ornare ut</h4>
        </div>

    </section>
</main>

<section class="row publicidad">
    <div class="container"></div>
</section>

{% endblock %}